<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>对象适配器页面</title>
     <link th:href="@{/bootstrap3/css/bootstrap.min.css}" rel="stylesheet" />
    <script type="text/javascript" src="../static/jquery-3.3.1.js" th:src="@{/jquery-3.3.1.js}"></script>
    <script type="text/javascript" src="../static/bootstrap3/js/jquery-1.11.2.min.js" th:src="@{/bootstrap3/js/jquery-1.11.2.min.js.js}"></script>
    <script>
      $(function(){
    	  $("#b1").click(function(){
    	        var url="adapter/getAdapter2";
    	        $.get(
    	                url,
    	                function(data) {
    	                	
    	                     $("#content2").html(data);
    	                        
    	         }); 
    	    });
    		  
      })
    </script>
    
    <style>
    div{
    margin-top:15px;
    }
    #div1{
      position: absolute;
      left: 100px;
      top: 50px;
     
    }
    button{
    width:150px;
    margin-right:10px;
    
    }
    #content{
    pasition:relative;
    font-size:20px;
    left:100px;
    }
    .text-primary{
    font-size:20px;
    }
    #img{
    position:absolute;
    left:500px;
    top:10px;
    }
    </style>
</head>

<body>


<div id="img">
<div><img src="../static/image/lzb.jpg"  th:src="@{/image/lzb.jpg}" width="300" height="300" /></div>
<div><span class="text-primary" >201527010413 李志彬</span></div>
</div>



<div  id="div1"> 
<div>
<span class="text-primary">对象适配器</span>
</div>
<button type="button" class="btn btn-default" id="b1">&nbsp;&nbsp; 加个对象适配器</button>
<div>
<span class="text-primary">客户需要<span class="text-primary" id = "content1" th:text="${v_target}"></span>V的接口，交流电压为<span class="text-primary" id = "content2" th:text="${v_adaptee}"></span>V,</span>
</div>



</div>
  
</body>
</html>