<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>主页面</title>
     <link th:href="@{/bootstrap3/css/bootstrap.min.css}" rel="stylesheet" />
    <script type="text/javascript" src="../static/jquery-3.3.1.js" th:src="@{/jquery-3.3.1.js}"></script>
    <script type="text/javascript" src="../static/bootstrap3/js/jquery-1.11.2.min.js" th:src="@{/bootstrap3/js/jquery-1.11.2.min.js.js}"></script>
    <script>
      $(function(){
    	  $("#b1").click(function(){
    		    var str = $("#text").val().trim();
    		   alert(str);
    	        var url="simple/getMarshal/" +str;
    	        alert(url);
    	        $.get(
    	                url,
    	                function(data) {
    	                $("#content").html("目前元帅有3个");
    	                

    	                        
    	         }); 
    	    });

      })
    </script>
    
    <style>

    #div1{
      position: absolute;
      left: 100px;
      top: 50px;
     
    }
    #img{
    position:absolute;
    left:400px;
    top:10px;
    
    }
    button{
    width:100px;
    margin-right:10px;
    margin-bottom:10px;
    
    }
    #content{
  
    font-size:20px;
    left:100px;
    top:10px;
    }
    .text-primary{
    font-size:20px;
    }
    </style>
</head>

<body>
<div id="img">
<div><img src="../static/image/lzb.jpg"  th:src="@{/image/lzb.jpg}" width="300" height="300" /></div>
<div><span class="text-primary" >201527010413 李志彬</span></div>
</div>
<div align="left" id="div1"> 
<div><span class="text-primary" >多例模式页面</span> </div>
<div>
<input type="text" class="form-control" id="text"></input>
<button type="button" class="btn btn-default" id="b1">创建元帅 </button>
</div>
<div id="div2">
<span class="text-primary" id = "content">还没有元帅产生</span>
</div>

</div>


  
</body>
</html>